body{
    background-color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/9748978-barbearia-cabeleireiro-ferramentas-em-fundo-grunge-padrao-sem-costura-design-textil-papel-de-parede-estoque-ilustracao-vetor.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}
#profile img {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 10px black;
    border-radius: 60px;
    
}



article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 25px;
    align-items: center;

}
 
section{
    margin: 20px;
    box-shadow: 0px 0px 20px black;
}

a img{
    width: 40px;
    margin: 0px 20px 0px;
   
    display: flex;
    
}
.instagram, .site, .whatsapp{
   
    display: flex;
    background-color:bisque;
    max-width: 700px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
   
 }
 @media screen and (max-width:800px) {
    .instagram, .site, .whatsapp {
        width: 90%;
        max-width: none;
       
    }
 }

 #email{
    
    height: 50px;
    width: 50px;
    display: flex;
    align-content: flex-start  ;
    background-color: grey;
 }
 #email a img{
    order: 2;
    display:flex;
 }

